body {
    background-image: url(../image/gg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-size: 100% 100%;
}

h1{
     color:darkblue;
}
h2{
    color: white;
}
a {
    font-size: 30px;
    color: gold;
}
section#contact{
    color: white;
}
div#headerText{
    background-color: white;
    color: darkblue;
}
div#Name{
    color: white;
}
p {
    font-size: 35px;
}
i {
    color: white;
}